

/* main with JavaScript */
body:has(main.carousel){
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main.carousel form{
    width: 80%;

    position: relative;
    left: 0;
}

main.carousel form fieldset{
    display: block;
    position: absolute;
    top: 0;
    transition: .5s;
    z-index: 1;

    transform-origin: top;
}

main.carousel form fieldset:not(:first-of-type){
    transform: translateX(100vw) scaleY(0);
    visibility: block;
}

main.carousel form fieldset:last-of-type section{
    margin-bottom: 9vh;
}

main.carousel form fieldset.backQuestion{
    display: block;
    transform: translateX(-100vw) scaleY(0);
}

main.carousel form fieldset.nextQuestion{
    transform: translateX(0) scaleY(1);
}

main.carousel form>div{
    width: 98%;
    height: 3em;

    position: fixed;
    bottom: 8em;
    justify-content: space-between;
}

main.carousel form>div input{
    --width:4em;
    width: var(--width);
    height: calc(var(--width) - 1em);
    margin: 0;
}

main.carousel > div{
    width: 98%;

    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 4em;
}

main.carousel > div button{
    --width: 4em;
    width: var(--width);
    height: calc(var(--width) - .4em);

    cursor: pointer;

    background-color: var(--background-section);
    border:solid .2em var(--border-color);
    border-radius: .6em;
    color: var(--h2-titel);
}

@media (min-width: 600px){
    main.carousel > div,
    main.carousel form>div{
        width: 88%;
    }
}

@media (min-width: 1000px){
    main.carousel > div,
    main.carousel form>div{
        width: 85%;
    }

    main.carousel > div button,
    main.carousel form>div input{
        --width:5em;
    }

    main.carousel form>div input{
        height: calc(var(--width) - 1.5em);
    }

    main.carousel > div button{
        height: calc(var(--width) - 1.4em);
    }
}

main.carousel>nav{
    height: 7vw;
}

main.carousel>nav ol li{
    border: solid .1em var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--nav-color);
    font-size: 1.5vw;
    background-color: var(--background-body);

}


main.carousel>nav ol li:not(:first-child)::before {
    display: none;
}

main.carousel:has(fieldset:first-of-type:valid)>nav ol li:first-child,
main.carousel:has(fieldset:nth-of-type(2):valid)>nav ol li:nth-child(2),
main.carousel:has(fieldset:nth-of-type(3):valid)>nav ol li:nth-child(3),
main.carousel:has(fieldset:nth-of-type(4):valid)>nav ol li:nth-child(4),
main.carousel:has(fieldset:nth-of-type(5):valid)>nav ol li:last-child{
background-color: var(--nav-button);
}


main.carousel form section>label:last-of-type {
    position: absolute;
    top: -200vw;
}

body:has(main.carousel) footer{
    position: fixed;
    bottom: 0;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}